  1. Постройте нейронную сеть(берем простую линейную сеть, которую разбирали на уроке: меняем число слоев, число нейронов , типы активации, тип оптимизатора)  на датасет from sklearn.datasets import load_boston.

In [35]:
%tensorflow_version 2.x

UsageError: Line magic function `%tensorflow_version` not found.

In [36]:

import pandas as pd
import numpy as np

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split


import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [37]:
boston = load_boston()
data = boston.data
target = boston.target
df = pd.DataFrame(data, columns=boston.feature_names)
df.head()

/home/ivan/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [38]:
train_data, test_data, train_target, test_target = train_test_split(data, target, test_size=0.20)

In [39]:
train_data.shape

(404, 13)

In [40]:
model = keras.Sequential([
  keras.layers.Dense(64, activation='relu',
                      input_shape=(train_data.shape[1],)),
  keras.layers.Dense(32, activation='relu'),
  keras.layers.Dense(1)
])

In [41]:
model.compile(loss='mse', optimizer=keras.optimizers.Adam(learning_rate=0.001), metrics=['accuracy'])

In [42]:
model.fit(train_data, train_target, epochs=5, verbose = 0)

In [43]:
model.evaluate(train_data, train_target)

13/13 [==============================] - 0s 977us/step - loss: 65.6052 - accuracy: 0.0000e+00

[65.60521697998047, 0.0]

**2. Измените функцию потерь и метрику для этой задачи. Постройте 10-15 вариантов и сведите результаты их работы в таблицу  Опишите, какого результата вы добились от нейросети? Что помогло вам улучшить ее точность?**

In [47]:
results = []

for optim in ['SGD', 'RMSprop', 'Adam']:
  for metrics in ['mean_absolute_error', 'mean_squared_error', 'mean_absolute_percentage_error']:
      for loss in ['mae', 'mse' ]:
        model = keras.Sequential([
        keras.layers.Dense(64, activation='relu',input_shape=(train_data.shape[1],)),
        keras.layers.Dense(32, activation='relu'),
        keras.layers.Dense(1)
        ])
        result = {}
        model.compile(optimizer=optim, loss=loss, metrics=metrics)

        model.fit(train_data, train_target, epochs=200, verbose = 0)

        loss_train, metric_train = model.evaluate(train_data, train_target, verbose=2)
        loss_test, metric_test = model.evaluate(test_data, test_target, verbose=2)

        result['metrics'] = metrics
        result['loss'] = loss
        result['Оптимизатор'] = optim
        result['Train'] = round(metric_train, 3)
        result['Test'] = round(metric_test,3)
        results.append(result)


result = pd.DataFrame(results)

13/13 - 0s - loss: 6.2935 - mean_absolute_error: 6.2935 - 75ms/epoch - 6ms/step
4/4 - 0s - loss: 7.4866 - mean_absolute_error: 7.4866 - 18ms/epoch - 4ms/step
13/13 - 0s - loss: nan - mean_absolute_error: nan - 92ms/epoch - 7ms/step
4/4 - 0s - loss: nan - mean_absolute_error: nan - 23ms/epoch - 6ms/step
13/13 - 0s - loss: 6.5659 - mean_squared_error: 87.4990 - 79ms/epoch - 6ms/step
4/4 - 0s - loss: 8.4033 - mean_squared_error: 161.8238 - 22ms/epoch - 5ms/step
13/13 - 0s - loss: 78.1105 - mean_squared_error: 78.1105 - 78ms/epoch - 6ms/step
4/4 - 0s - loss: 110.4572 - mean_squared_error: 110.4572 - 22ms/epoch - 5ms/step
13/13 - 0s - loss: 6.2936 - mean_absolute_percentage_error: 33.2988 - 83ms/epoch - 6ms/step
4/4 - 0s - loss: 7.4861 - mean_absolute_percentage_error: 33.3857 - 25ms/epoch - 6ms/step
13/13 - 0s - loss: nan - mean_absolute_percentage_error: nan - 84ms/epoch - 6ms/step
4/4 - 0s - loss: nan - mean_absolute_percentage_error: nan - 20ms/epoch - 5ms/step
13/13 - 0s - loss: 3.9871 - mean_absolute_error: 3.9871 - 75ms/epoch - 6ms/step
4/4 - 0s - loss: 4.7419 - mean_absolute_error: 4.7419 - 22ms/epoch - 6ms/step
13/13 - 0s - loss: 27.3557 - mean_absolute_error: 3.8934 - 73ms/epoch - 6ms/step
4/4 - 0s - loss: 45.1401 - mean_absolute_error: 4.7845 - 20ms/epoch - 5ms/step
13/13 - 0s - loss: 3.0450 - mean_squared_error: 23.3705 - 76ms/epoch - 6ms/step
4/4 - 0s - loss: 4.6098 - mean_squared_error: 46.5278 - 19ms/epoch - 5ms/step
13/13 - 0s - loss: 21.0232 - mean_squared_error: 21.0232 - 76ms/epoch - 6ms/step
4/4 - 0s - loss: 36.9103 - mean_squared_error: 36.9103 - 22ms/epoch - 5ms/step
13/13 - 0s - loss: 4.0696 - mean_absolute_percentage_error: 22.6075 - 81ms/epoch - 6ms/step
4/4 - 0s - loss: 5.0237 - mean_absolute_percentage_error: 24.6685 - 25ms/epoch - 6ms/step
13/13 - 0s - loss: 52.7362 - mean_absolute_percentage_error: 36.2020 - 82ms/epoch - 6ms/step
4/4 - 0s - loss: 53.2603 - mean_absolute_percentage_error: 35.2372 - 21ms/epoch - 5ms/step
13/13 - 0s - loss: 2.8041 - mean_absolute_error: 2.8041 - 71ms/epoch - 5ms/step
4/4 - 0s - loss: 4.2888 - mean_absolute_error: 4.2888 - 17ms/epoch - 4ms/step
13/13 - 0s - loss: 21.5353 - mean_absolute_error: 3.4955 - 72ms/epoch - 6ms/step
4/4 - 0s - loss: 35.1218 - mean_absolute_error: 4.4022 - 18ms/epoch - 5ms/step
13/13 - 0s - loss: 2.8800 - mean_squared_error: 21.5032 - 430ms/epoch - 33ms/step
4/4 - 0s - loss: 3.9963 - mean_squared_error: 39.9194 - 27ms/epoch - 7ms/step
13/13 - 0s - loss: 18.0010 - mean_squared_error: 18.0010 - 80ms/epoch - 6ms/step
4/4 - 0s - loss: 33.1670 - mean_squared_error: 33.1670 - 26ms/epoch - 7ms/step
13/13 - 0s - loss: 2.9704 - mean_absolute_percentage_error: 13.2869 - 83ms/epoch - 6ms/step
4/4 - 0s - loss: 4.0875 - mean_absolute_percentage_error: 16.4797 - 22ms/epoch - 5ms/step
13/13 - 0s - loss: 17.2468 - mean_absolute_percentage_error: 13.4056 - 86ms/epoch - 7ms/step
4/4 - 0s - loss: 30.6749 - mean_absolute_percentage_error: 14.7292 - 22ms/epoch - 5ms/step

In [48]:
result

                           metrics loss Оптимизатор   Train     Test
0              mean_absolute_error  mae         SGD   6.293    7.487
1              mean_absolute_error  mse         SGD     NaN      NaN
2               mean_squared_error  mae         SGD  87.499  161.824
3               mean_squared_error  mse         SGD  78.110  110.457
4   mean_absolute_percentage_error  mae         SGD  33.299   33.386
5   mean_absolute_percentage_error  mse         SGD     NaN      NaN
6              mean_absolute_error  mae     RMSprop   3.987    4.742
7              mean_absolute_error  mse     RMSprop   3.893    4.785
8               mean_squared_error  mae     RMSprop  23.370   46.528
9               mean_squared_error  mse     RMSprop  21.023   36.910
10  mean_absolute_percentage_error  mae     RMSprop  22.607   24.668
11  mean_absolute_percentage_error  mse     RMSprop  36.202   35.237
12             mean_absolute_error  mae        Adam   2.804    4.289
13             mean_absolute_error  mse        Adam   3.495    4.402
14              mean_squared_error  mae        Adam  21.503   39.919
15              mean_squared_error  mse        Adam  18.001   33.167
16  mean_absolute_percentage_error  mae        Adam  13.287   16.480
17  mean_absolute_percentage_error  mse        Adam  13.406   14.729

Лучше всего mean_absolute_error	при любом оптимизаторе, думаю это потому что данные без предподготовки